<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/main.css">
<title>URL Shortener</title>
</head>
<ul class='nav'>
  <li class='nav'><a href='http://localhost:3000/'>Home</a></li>
  <li class='nav'><a href='http://localhost:3000/shorten'>Shorten URL</a></li>
  <li class='nav'><a href='http://localhost:3000/expand'>Expand URL</a></li>
</ul>

<header>
    <img src='../img/header.png'>
    <h1>URL Shortener<h1>
</header>


{{{body}}}

</html>