<h2>Shorten URL</h2>
<form method="POST" action="/shorten">
Enter a long URL: <input type="text" name="originalURL">
<input type="submit" value='Shorten URL'>
</form>

 {{#if valid}}
    <p>The short URL is: {{shortenURL}}</p>
{{/if}}