h1{
    text-align: center;
    color:darkmagenta;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
img{
    position: absolute;
    left: 520px;
    width: 3%;
    top: 160px;
}
body{
    background-image: url('../img/background.jpg');
    margin:0;
}
/* ul {
    list-style-type: none;
    padding: 0;
    width: 15%;
    background-color:snow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li a {
    display: block;
    color: darkmagenta;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: darkmagenta;
    color: snow;
  }
  
  li a:hover:not(.active) {
    background-color: violet;
    color: snow;
  } */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkmagenta;
  }
  ol.trending{
    list-style-position:inside;
    display:block;
    position: absolute;
    left: 550px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  li.nav {
    color:darkmagenta;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li.nav a {
    display: block;
    color: snow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li.nav a:hover{
    background-color: violet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  h2{
      color:purple;
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
form{
  text-align:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:purple;
  font-weight: bold;
}
input[type='submit']{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:snow;
  background-color:darkmagenta;
  font-weight: bold;
}
input[type='text']{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:darkmagenta;
  background-color:snow
}
p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:darkmagenta;
  text-align: center;
}
div.trending{
  color:black;
}